body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
}

.center-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form {
    display: block;
    width: 30vw;
}

.login-text {
    font-size: 3vh;
    font-weight: 900;
}

.login-form-panel {
    background-color: #ccc;
    padding: 10px;
}

.login-alert {
    display: none;
}

.sketch {
    background-color: white;
    display: hidden;
}
