{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="center-container" data-js-center-container>
    <div class="login-form">
        <div class="login-text">Login</div>
        <div class="login-form-panel clearfix">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="input-username" class="col-sm-2 control-label">Username</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="input-username" data-js-username placeholder='Username ("admin", "user1", "user2")'>
              </div>
            </div>
            <div class="form-group">
              <label for="input-password" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="password" data-js-password placeholder='Password ("secret")'>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger login-alert" role="alert" data-js-login-alert>Unable to login</div>
                </div>
            </div>
            <button type="submit" class="btn btn-default pull-right" data-js-login-button>Login</button>
          </form>
        </div>
    </div>
</div>
<div class="sketch" data-js-sketch></div>
<div class="modal fade" tabindex="-1" role="dialog" data-js-disconnect-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span data-js-disconnect-message>Lost connection with the server.</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-js-reconnect-button>Reconnect</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sketch.js' %}"></script>
<script src="{% static 'js/shared_canvas_channels.js' %}"></script>

<script>
    var obtainJwtTokenUrl = "{% url 'obtain_jwt_token' %}";
    var refreshJwtTokenUrl = "{% url 'refresh_jwt_token' %}";
    var webSocketUrl = "ws://localhost:8000/events";
</script>
{% endblock extra_js %}
